<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ar.edu.ort.TP1.TP2/src/ar/edu/ort/TP1/TP2/Ej1/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ar.edu.ort.TP1.TP2.Ej1.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ar.edu.ort.TP1.TP2"/>
</launchConfiguration>
